/*
Project: Personal Website
Description: This is our personl site project, it will be posted on github using gh-pages
Color Theme: Retro Surf
  - Primary Color: #FFF (white);
  - Seconday Color: #FF805C (coral);
  - Complement Color: #009790 (teal);
  - Base Color: #439a1c (brown) (font);
  - More: #72c29e (sea foam); #bdf6e9 (pale teal)
*/
body, html{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}


ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #333;

}

h1, h2, h3{
  margin: 0;
}

header{
  height: 100px;
  width: 100%;
  background-color: #bdf6e9;

}

.logo{
  height: 100%;
  width: 400px;
  float: left;

}

.logo h1{
  text-align: center;
  padding:  20px 0px;
}

.menu{
  height: 100%;
  width: 400px;
  float: right;
}

.menu ul{
  position: relative;
  top: 35px;
}

.menu li{
  display: inline-block;
  padding: 0px 10px;

}

/*Banner Styles*/
#banner{
  height: 500px;
  width: 100%;
  background: url("../img/jetty-landing.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#banner h1{
  text-align: center;
  padding-top: 90px;
  font-size: 3em;
}

/*Skill Styling*/
#skills{
  height: 500px;
  width: 100%;
  background-color: white;
  text-align: left;
  padding-top: 45px;
}

.skills-container{
  height: 75%;
  width: 85%;
  margin: 0 auto;
}

#skills article{
  width: 25%;
  height: 77%;
  background-color: #bdf6e9;
  margin: 0 27px;
  padding: 15px 20px;
  float: left;
  border-radius: 5px

}
/*About Styles*/
#about{
  width: 100%;
  display: inline-block;
  padding: 90px 0;
  background-color: lightblue;
}

.img-box{
  height: 400px;
  width: 25%;
  float: left;


}

.img-container{
  height: 200px;
  width: 250px;
  margin-left: 25px;
  margin-top: 50px;


}

#about img{
  height: 100%;
  border-radius: 100%;
}

.about-info{
  height: 400px;
  width: 75%;
  float: left;

}
.about-container{
  height: 300px;
  width: 800px;
  border: 2px dashed #fff;
  margin-top: 25px;
  border-radius: 5px;

}
#about h1{
  text-align: center;
  padding-top: 20px;

}

#about p{
  padding: 0px 15px;
  text-align: justify;
}
#contact{
  width: 100%;
  padding: 25px 0;
  display: inline-block;;
  background-color: #ff805c;
  background: url("../img/pexels-photo-68592.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}
#contact h1{
  text-align: center;
  font-size: 3em;
}
.form-box{
  height: 300px;
  width: 500px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);

}

#contact input{
  height: 40px;
  width: 100%;
  margin: 10px 0;
}

#contact textarea{
  height: 125o;
  width: 100%;
  margin: 10px 0;

}

#contact button{
  height: 40px;
  width: 125px;
  background-color: #78c29e;
  border: 2px solid #333;
  color: #fff;
  font-size: 1.2em;
}

#contact button:hover{
  background-color: white;
}
/*Footer Styles*/
footer{
  height: 200px;
  width:  100%;
  background-color: #ff805c;
  clear: both;
}

.copyright{
  margin: 0;
  text-align: center;
  padding: 30px 0;
  color: #fff;

}

.sm-icons{
  width: 180px;
  height: 50px;
  margin: 0 auto;
}

.icon{
  height: 50px;
  width: 50px;
  background-color: #fff;
  float: left;
  margin: 0 5px;
  border-radius: 100%;
}

.icon i{
  font-size: 2em;
  color: #333;
  padding: 10px;

}

/*End of Footer*/
